pipeline/PL_ORG_EXPEN_RAW_LOAD.json
{
	"name": "PL_ORG_EXPEN_RAW_LOAD",
	"properties": {
		"activities": [
			{
				"name": "timestamp",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_timestamp",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy emp data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.emp",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "raw",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"entity": "emp",
							"file_name": "emp_data.parquet"
						}
					}
				]
			},
			{
				"name": "Copy dept data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy emp data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.department",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "raw",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"entity": "dept",
							"file_name": "dept_data.parquet"
						}
					}
				]
			},
			{
				"name": "Rows Copied",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy dept data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "no_of_rows_copied",
					"value": {
						"value": "@activity('Copy dept data').output.rowsCopied",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"set_timestamp": {
				"type": "String"
			},
			"no_of_rows_copied": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}